body {
  background: white;
  background-image: url(http://ooxo.org/img/backg.png);
  background-repeat: repeat-x;
  font-family: 'Trebuchet MS','メイリオ',"Helvetica Neue",sans-serif;
  text-rendering: optimizeLegibility;
  padding: 0 0.2cm 0 0.2cm;
  margin-top: 0;
}

#content {
  max-width: 50em;
  margin: 1em;
  color: #101010;
}

div.bmark {
  text-align: right;
}

pre {
  background: none repeat scroll 0 50% #EEEEEE;
  border: 1px solid #CCCCCC;
  color: #222222;
  font-family: "Consolas","Courier New",Courier,mono,serif;
  line-height: 1.1em;
  font-size: 0.9em;
  padding: 16px;
}

#post {
  margin-bottom: 2em;
}

#post h1 {
  color: #303010;
  padding-bottom: 0;
  margin-bottom: 0;
}

#post p {
  line-height: 1.5em;
}

p.postdate {
  padding-top: 0.2em;
  margin-top: 0;
}

span.postdate {
  padding-top: 0;
  margin-top: 0;
  border-top: 2px #a0a060 solid;
  color: #a0a0a0;
}

div.post-header {
  margin-bottom: 2em;
  padding-bottom: 0;
}

div.title {
  background-color: #303030;
  font-size: 1.0em;
  font-family: 'Geo', sans-serif;
  padding: 0.2cm;
  border-top: 3px #a0a060 solid;
  border-radius: 0 0 5px 5px;
}

div.title a {
  color: #00ff00;
  text-decoration: none;
}

div.title a.extra {
  color: white;
  border-bottom: 3px #303030 solid;
}

div.title a.extra:hover {
  text-decoration: none;
  border-bottom: 3px red solid;
}

ul, li {
  line-height: 1.6em;
}

a {
  color: #a11;
}

a:hover {
  color: #aa9;
}

div.footer {
  width: 20em;
  margin-top: 1.0cm;
  border-top: 1px black solid;
}
