
.icon-search:before { content: '\e800'; } /* '' */
.icon-retweet:before { content: '\e801'; } /* '' */
.icon-lock-open:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-pin:before { content: '\e804'; } /* '' */
.icon-doc:before { content: '\e805'; } /* '' */
.icon-emo-happy:before { content: '\e806'; } /* '' */
.icon-emo-wink:before { content: '\e807'; } /* '' */
.icon-emo-unhappy:before { content: '\e808'; } /* '' */
.icon-emo-sleep:before { content: '\e809'; } /* '' */
.icon-emo-devil:before { content: '\e80a'; } /* '' */
.icon-emo-coffee:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-emo-beer:before { content: '\e814'; } /* '' */
.icon-emo-displeased:before { content: '\e815'; } /* '' */
.icon-emo-sunglasses:before { content: '\e816'; } /* '' */
.icon-emo-tongue:before { content: '\e817'; } /* '' */
.icon-emo-surprised:before { content: '\e818'; } /* '' */
.icon-emo-thumbsup:before { content: '\e819'; } /* '' */
.icon-kaggle:before { content: '\e81a'; } /* '' */
.icon-slack:before { content: '\e81b'; } /* '' */
.icon-kickstarter:before { content: '\e81c'; } /* '' */
.icon-skype:before { content: '\e81d'; } /* '' */
.icon-amazon:before { content: '\e81e'; } /* '' */
.icon-gitlab:before { content: '\e81f'; } /* '' */
.icon-coursera:before { content: '\e820'; } /* '' */
.icon-bitcoin:before { content: '\e821'; } /* '' */
.icon-facebook:before { content: '\e822'; } /* '' */
.icon-linkedin:before { content: '\e823'; } /* '' */
.icon-twitter:before { content: '\e824'; } /* '' */
.icon-github:before { content: '\e825'; } /* '' */
.icon-hatenabookmark:before { content: '\e826'; } /* '' */
.icon-speakerdeck:before { content: '\e827'; } /* '' */
.icon-quantopian:before { content: '\e828'; } /* '' */
.icon-rss-alt:before { content: '\e829'; } /* '' */
.icon-list:before { content: '\e82a'; } /* '' */
.icon-download:before { content: '\e82b'; } /* '' */
.icon-help-circled:before { content: '\e82c'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */