<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Kohei Ozaki" />
   <link href="/atom.xml" rel="alternate" title="smly.log" type="application/atom+xml" />

<!--
   <link rel="stylesheet/less" type="text/css" href="/js/styles.less">
   <script src="./less-1.0.41.min.js" type="text/javascript"></script>
   <script src="./jquery-1.5.2.min.js"></script>
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
-->
   <link rel="stylesheet" href="/css/test.css" type="text/css" />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
   <script type="text/javascript"
           src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">smly.log*</a>
    ....
    <a class="extra" href="http://ooxo.org/">about</a>
    ..
    <a class="extra" href="/">archive</a>
    ..
    <a class="extra" href="http://twitter.com/smly/">twitter</a>
  </div>

  <div id="content">
  {{ content }}
  </div>

  <div class="footer">
    <div class="contact">
      <p>
        Kohei Ozaki (eowner at gmai.com)
      </p>
    </div>
    <div class="rss">
      <a href="/atom.xml">
        rss
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">
var disqus_shortname = 'smly';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/smly/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

</body>
</html>
